<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoAoBancoDeDados.Properties.Settings.stringDeConecao"
            connectionString="Data Source=DESKTOP-9NHTDNI;Initial Catalog=dbAula02;Integrated Security=True" />
    </connectionStrings>
</configuration>